@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link {
    background-color:black;
    color: var(--primaryColor);
}
a:visited {
    color: gray;
    border-radius: 5px;
}
a:hover {
    font-size: 18px;
    color: var(--secondaryColor);
    background-color:yellow;
}
a:active {
    color:mediumblue;
    background-color: var(--activeLink);
}
/* header, main, footer */
header, main, footer {
    min-width: 100%;
}
/* Header */
header {
    display: inline-flex;
    justify-content: space-between;
    background-color:black;
}

header, .menu-list {
    display: inline-flex;
    list-style: none;
    color: red;
    padding: 0;
}
.menu-list li a {
    margin-right: 90px;
    text-decoration: none;
    font-size: large;

}
.menu {
    margin-left: auto;
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
.logo {
    width: 10em;
    height: 10vh;
}
body {
    background-color: black;
    font-family: 'Pompiere', cursive;
    color: #555;

}
.flip-box {
    background-color: transparent;
    width: 60em;
    height: 500px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
    margin-left: auto;
    margin-right: auto;
  }
  .car {
    width: 60em;
    height: 500px;
  }
  
  #heading {
    text-align: center;
  }
